body {
    background-image: linear-gradient(#ff7fff, #540202);
    height: 5000px;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aquamarine;
}

h1 {
    font-size: xx-large;
    color: whitesmoke;
}
h2 {
    color: yellow;
}
h3 {
   font-size: x-large;
    color: darkred;
}
a {
    color: #540202;
}
a:hover {
    color: black;
}

#C4

.max {
display: block;
  margin: auto;
  width: 100%;
}

.center {
    text-align: center;
}

.highlight {
    background-color: burlywood;
}

#big {
    width: 600px;
}

.color {
    width: fit-content;
    height: 50px;
    background-color: blanchedalmond;
    margin: 5px;
}

/*Custom Font*/
.microbe {
    font-family: "Rubik Microbe", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  

