body {
    background-image: linear-gradient(#ff7fff, #540202);
    height: 5000px;
}

h1 {
    color: whitesmoke;
}
h2 {
    color: yellow;
}
h3 {
   font-size: xx-large;
    color: darkred;
}
a {
    color: #540202;
}
a:hover {
    color: black;
}

#yes {
    
}

.max {
display: block;
  margin: auto;
  width: 100%;
}

.center {
    text-align: center;
}

/*Custom Font*/
.microbe {
    font-family: "Rubik Microbe", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
